{:duct.profile/base
 {:duct.core/project-ns                                      rest-server

  ;; Handlers
  [:duct.handler.static/ok :rest-server.handler/index]       {:body {:articles "/articles"}}
  [:duct.handler.static/ok :rest-server.handler.member/list] {:body {:articles "member list"}}

  }


 :duct.profile/dev    #duct/include "dev"
 :duct.profile/local  #duct/include "local"
 :duct.profile/prod   {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}

 :duct.module/ataraxy
 {
  "/"        {:get [:index]}

  "/members" {:get [:member/list]}
  }
 }
