{:duct.profile/base
 {:duct.core/project-ns                                rest-server

  :duct.router/ataraxy
  {:routes
   {
    [:get "/"] [:rest-server.handler/index]
    [:get "/groups"] [:rest-server.handler.group/list]}
   }

  ;; Handlers
  [:duct.handler.static/ok :rest-server.handler/index] {:body {:articles "/articles"}}
  [:duct.handler.static/ok :rest-server.handler.group/list] {:body {:articles "group list"}}

  }


 :duct.profile/dev    #duct/include "dev"
 :duct.profile/local  #duct/include "local"
 :duct.profile/prod   {}

 :duct.module/logging {}
 :duct.module.web/api
 {}
 :duct.module/sql
 {}}
